{% extends 'base.html' %}

{% block content %}
<h2>Complete List of Contacts</h2>

<ul>
    {% for contact in contacts %}
    <li> Contact:
        <a href="{% url 'contact_detail' pk=contact.pk %}">
        {{ contact.contact_name }}</a>
        <a href="{% url 'contact_edit' pk=contact.pk %}">(edit)</a>
        <br/>
        Student(s):
        {% for student in contact.student.all %}{{ student }}

        {% endfor %}

    </li>
    {% endfor %}
</ul>

<h4>Add a New Contact <a href="{% url 'contact_create' %}">(+)</a></h4>
{% endblock %}
