{% extends 'base.html' %}
<div class="card">
    <h5 class="card-header">Featured</h5>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
{% block content %}
<div class="card">
    <h2 class="card-header">Student(s):<section class="card-info">
        {% for student in contact.student.all %}{{ student }}

        <br/>
        {% endfor %}
        </section>
    </h2>
    <div class="card-body">
        <h3 class="card-title">Contact: <section class="card-info"> {{contact.contact_name}} <a href="{% url 'contact_edit' pk=contact.pk %}">(edit)</a></section></h3>
        <h3 class="card-title">Relationship:<section class="card-info">  {{contact.relationship}}</section></h3>
        <h4 class="card-text">Contact email: <section class="card-info"> {{contact.email}}</section></h4>
        <h4 class="card-text">Contact phone: <section class="card-info">  {{contact.phone}}</section></h4>
</div>
</div>
<form action="{% url 'contact_delete' pk=contact.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" class="btn btn-outline-danger btn-block" value="Delete {{contact.contact_name}} from Contacts">

</form>
{% endblock %}


