{% extends 'base.html' %}

{% block content %}
<h2 class="heading">Complete List of Contacts</h2>
<div class="list-group">
<ul class="list-group-item">
    {% for contact in contacts %}

    <li class="list-group-item list-group-item-action"> Contact:
        <a href="{% url 'contact_detail' pk=contact.pk %}">
        {{ contact.contact_name }}</a>
        <a href="{% url 'contact_edit' pk=contact.pk %}">(edit)</a>
        <br/>
        Student(s):
        {% for student in contact.student.all %}{{ student }}

        {% endfor %}

    </li>
    {% endfor %}
</ul>
</div>
<h4>Add a New Contact <a href="{% url 'contact_create' %}">(+)</a></h4>
{% endblock %}
