{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="heading">Student Info</h1>
<form class="list-group-item" method="POST" >
    {% csrf_token %}
    <div class="row">
        <div class="col-3">
            {{ form.name|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{ form.lesson_day|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.lesson_location|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.lesson_time|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.lesson_length|as_crispy_field }}
        </div>

    </div>
    <br/>
    <button class="btn btn-outline-secondary"  type="submit" >Save Info</button>
</form>
{% endblock %}
