{% extends 'base.html' %}

{% block content %}

<div class="card">
    <h2 class="card-header">Student Name:<section class="card-info">
        {{student.name}}  <a href="{% url 'student_edit' pk=student.pk %}">(edit)

    </a>
    </section></h2>
    <div class="card-body">
    <h2 class="card-title">Contact Name(s):<section class="card-info">
        {% for contact in student.contacts.all %}
        <a href="{% url 'contact_detail' pk=contact.pk %}">{{ contact.contact_name }} </a>
        <br/>{% endfor %}</h2>
        </section>
        <h3 class="card-text">Lesson Location: <section class="card-info"> {{student.lesson_location}}</section></h3>
    <h3 class="card-text">Lesson Details: <section class="card-info"> {{student.lesson_day}}, at {{student.lesson_time}}
        <br/>
        for {{student.lesson_length}} minutes.</section></h3>
</div>
</div>
<form action="{% url 'student_delete' pk=student.pk %}" method="POST">
    {% csrf_token %}
    <input class="btn btn-outline-danger btn-block"  type="submit" value="Remove {{student.name}} from Students">
</form>
{% endblock %}

