.container {
    color: #031934;
    background-color: rgba(0, 75, 128, 0.25);
    padding: 25px;
    margin: 15px;
}
nav ul {
    padding: 20px;
    margin: 25px;
    align-content: space-between;
    background-color: #0f304b;
    justify-content: space-around;

}

.active a{
    color: #b22222 !important;
}
.card {
    color: #0f304b;
    padding: 10px;
    margin: 5px 5px 20px;
}

.card a {
    text-decoration: none;
    color: #106892;
}

.card-info {
    text-align: right;
    margin-top: -30px;
}

.form {
    margin: 0 20px;
}
.heading {
    text-align: center;
    margin: 10px;
    color: #0f304b;
}
.card-title {
    padding-bottom: 20px;
}
